extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7  
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque arcu justo, eget scelerisque ante finibus eu. Maecenas eget leo tortor. Praesent varius mauris vitae nunc sodales, vel laoreet enim blandit. Aenean eget tortor ex. Integer diam ipsum, rutrum et facilisis id, pellentesque quis eros. Fusce aliquet eu tortor rutrum tempor. Mauris aliquam justo in congue commodo.
            
                p Morbi id ante sem. Fusce urna eros, pharetra molestie pretium quis, imperdiet eu magna. Maecenas ac porttitor est. Donec tempus felis non nisl tincidunt fermentum. Vivamus porttitor sapien ac enim convallis, in vehicula augue elementum. Nam sed felis in nibh imperdiet iaculis. Sed nibh arcu, venenatis vitae hendrerit vitae, placerat vitae lectus. Aliquam et tortor fermentum, facilisis augue id, vestibulum odio. Quisque malesuada vehicula dictum. Nullam vel convallis erat. Sed eu neque sit amet diam semper faucibus. Phasellus dolor eros, laoreet tempor maximus quis, viverra eu leo.

                p Etiam eget erat quis lorem elementum consequat sed in massa. Integer elementum erat sollicitudin facilisis posuere. Ut nec luctus sem. Duis rutrum turpis turpis, nec dictum orci vehicula et. Nullam lacus odio, blandit at lectus quis, commodo porta velit. Etiam ante diam, scelerisque vel dapibus a, pulvinar in metus. Vestibulum varius nisl tellus, eu vehicula arcu elementum in. Integer ac nunc vitae nulla iaculis volutpat.  

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Vestibulum varius nisl tellus, eu vehicula arcu elementum in. Integer ac nunc vitae nulla iaculis volutpat.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos",class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Vestibulum varius nisl tellus, eu vehicula arcu elementum in. Integer ac nunc vitae nulla iaculis volutpat.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios",class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios  
                    p Vestibulum varius nisl tellus, eu vehicula arcu elementum in. Integer ac nunc vitae nulla iaculis volutpat.         